{{ if eq .chezmoi.hostname "mycena" -}}
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

export ANDROID_HOME="$HOME/Android/Sdk"
export PATH="$PATH:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/emulator"
{{ else -}}
. "{{ .chezmoi.homeDir }}/.deno/env"
export PATH="$PATH:{{ .chezmoi.homeDir }}/.dotnet/tools"

FNM_PATH="{{ .chezmoi.homeDir }}/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="{{ .chezmoi.homeDir }}/.local/share/fnm:$PATH"
fi
{{ end -}}

export PATH={{ .chezmoi.homeDir }}/.opencode/bin:$PATH
